$main-color: #8b0e05;
$main-bg: #540903;
$bg-1: #fff;
$bg-2: #343845;
$bg-3: rgb(241, 241, 241);
$bg-4: #f4f4f499;
$color-1: #fff;
$color-2: #757575;
$color-3: #979797;
$color-4: #c4c4c4;
$color-5: #343845;

$website-width: 1300px;
