@import "config";
@import "utilities";

// Distance Learning Information & Services
.alert-banner {
  background: $main-bg;
  color: $color-1;
  text-align: center;
  padding: 20px;

  // Click Here
  a {
    font-weight: bold;
  }
}

// Fremont Union High School District (Banner)
.banner-main {
  padding: 30px 20px;
  background: $bg-1;

  // Squishes Content to Max Width
  .content-holder {
    font-family: acumin-pro-condensed, sans-serif;
    display: flex;
    justify-content: space-between;

    // Fremont Union High School District
    .title {
      a {
        text-transform: uppercase;
        color: $main-color;
        font-size: 36px;
      }
    }

    // Students Parents Staff Quicklinks Search
    nav {
      margin: auto 0;
      display: flex;
      a {
        color: $color-3;
        padding: 10px 20px;
        font-size: 20px;
        transition: color 0.5s;

        &:hover {
          color: $main-color;
        }
      }

      // Quicklinks Dropdown
      #quicklinks {
        position: relative;
        #quicklinks-wrapper {
          overflow: hidden;
          height: 0;
        }
        ul {
          position: absolute;
          box-sizing: border-box;
          margin-top: 10px;
          padding: 0;
          background: $bg-1;
          border-radius: 3%;
          overflow: hidden;
          width: 200%;
          left: -50%;
          z-index: 2;
          height: 0;
          transition: all 0.5s;

          li {
            padding: 5px 0;
            a {
              padding: 0 0 0 10px;
              width: 100%;
              height: 100%;
            }
            &:nth-child(even) {
              background: $bg-3;
            }
            &:hover {
              background: $main-bg;
              a {
                color: $color-1;
              }
            }
          }
        }
        &:hover {
          ul {
            height: 353px;
            border: 1px solid $color-3;
          }
        }
      }

      // Search Function
      div {
        display: inline-block;
        margin: auto 0;
        form {
          display: inline-block;
          input {
            display: inline-block;
            width: 0;
            border: none;
            border-bottom: $color-2 1px solid;
            height: 18px;
            color: $main-color;
            z-index: 0;
            background: none;
            transition: all 0.5s;

            &::placeholder {
              color: $main-color;
            }
          }
        }
        button {
          color: $main-color;
          z-index: 1;
          background: $bg-1;
        }

        &:hover {
          form {
            input {
              width: 200px;
            }
          }
        }
      }
    }
  }
}

// About Us, Departments, Academics, Our Schools, Socials (Banner)
.banner-secondary {
  background: $bg-2;

  // Squish to Max Width
  .content-holder {
    font-family: acumin-pro-condensed, sans-serif;
    display: flex;
    justify-content: flex-end;
    .nav-secondary {
      display: flex;
      margin: auto 0;
      > a {
        padding: 25px 38px;
        text-transform: uppercase;
        font-size: 20px;
        transition: background-color 0.5s;

        &:hover {
          background-color: $main-bg;
        }
      }

      // Socials
      .social {
        display: flex;
        margin: auto 0;
        padding-left: 10px;
        width: 90px;
        justify-content: space-between;

        a {
          color: $color-3;
          transition: color 0.5s;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

// Main Image
.cloudflare-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  overflow: hidden;
  position: relative;

  // Center and Fill
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  // Description Overlay of Image
  .image-description {
    position: absolute;
    right: 0;
    bottom: 30px;
    background: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
    padding: 20px 70px;
    width: 538px;

    .description-heading {
      font-size: 18px;
      padding: 0.2rem 0;
    }
  }
}

// News and Calendar
#news-section {
  padding: 50px 0 70px 0;
  background: $bg-4;
  h2 {
    font-size: 30px;
    font-family: acumin-pro-condensed, sans-serif;
    text-transform: uppercase;
    color: $main-color;
  }

  // Grid
  .content-holder {
    display: grid;
    grid-template-columns: 6fr 4fr;

    .news-heading {
      display: flex;
      justify-content: space-between;
      p {
        a {
          color: $color-2;
          transition: color 0.5s;
          font-size: 15px;
          &:hover {
            color: $main-color;
          }
        }
      }
    }

    // News Block
    .news-feed {
      padding-right: 80px;
      .news-heading {
        margin-bottom: 40px;
      }
      .news-feed-box {
        margin-left: 60px;
        background: $bg-1;
        border: 1px solid $color-4;
        ul {
          li {
            box-sizing: border-box;
            padding: 20px;
            border-bottom: 1px solid $color-4;
            &:nth-child(even) {
              background: $bg-3;
            }
            a {
              transition: color 0.5s;
              &:hover {
                color: $color-5;
              }
            }
          }
        }
      }
      a {
        color: $main-color;
        font-size: 18px;
        font-family: acumin-pro-semi-condensed, sans-serif;
      }
    }

    .calendar {
      padding-left: 80px;
      border-left: 1px solid $color-4;
      .news-heading {
        margin-bottom: 30px;
      }
      .calendar-box > ul > li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        color: $color-2;
        font-size: 15px;
        a {
          color: $main-color;
          font-size: 18px;
          transition: color 0.5s;
          &:hover {
            color: $color-5;
          }
        }

        .date-bubble {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: $bg-2;
          color: $color-1;
          text-align: center;
          display: grid;
          grid-template-rows: 1fr 2fr;
          text-transform: uppercase;
          box-sizing: border-box;
          padding: 10px;
          margin-bottom: 20px;
          margin-right: 20px;
          span {
            font-size: 36px;
            line-height: 1;
          }
        }
      }
    }
  }
}
